.venda-component{
    display: grid;
    place-items: center;
    padding: 50px 0;
}

.venda-content{
    color: var(--Roxo);
    width: min(550px, 90vw);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.venda-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.venda-form-inputs{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

.venda-form-inputs > select{
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: .5em 1em;
    border-radius: 10px;
    cursor: pointer;
}

.venda-form-inputs > *{
    align-self: center;
}

.button{
    background-color: var(--Roxo);
    color: var(--Branco);
    padding: .5em 2.5em;
    width: max-content;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}
