<div class="venda-component">
    <main class="venda-content">
        <form class="venda-form">
            <h1>{{modelo}}</h1>
            <div class="venda-form-inputs">
                <label for="cliente">Cliente:</label>
                <select id="cliente">
                    <option *ngFor="let c of clientes" value="{{c.id}}">{{c.nome}}</option>
                </select>
                <label for="concessionaria">Concessionária:</label>
                <select id="concessionaria">
                    <option *ngFor="let c of concessionarias" value="{{c.id}}">{{c.nome}}</option>
                </select>
            </div>
            <div class="button" (click)="sell()">Confirmar</div>
        </form>
    </main>
</div>
