<div class="venda-component">
    <main class="venda-content">
        <form class="venda-form">
            <h1>XYZ</h1>
            <div class="venda-form-inputs">
                <label for="cliente">Cliente:</label>
                <select id="cliente">
                    <option>Teste</option>
                </select>
                <label for="concessionaria">Concessionária:</label>
                <select id="concessionaria">
                    <option>Teste</option>
                </select>
            </div>
            <div class="button">Confirmar</div>
        </form>
    </main>
</div>
